* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  /* position: fixed; */
}
main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: rgb(255, 255, 255);
  color: white;
  height: 100vh;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 25px;
  line-height: 0;
  color: hsl(253deg 61% 85%);
}
.bars {
  width: 30px;
  color: hsl(253deg 61% 85%);
  font-size: 30px;
}
.hide {
  display: none;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.link {
  display: flex;
  background-color: #ccc1f0;
  color: #ffffff;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-radius: 0px 10px 10px 0px;
}

.link:hover {
  text-decoration: none;
  border-right: 4px solid white;
  background: hsl(253deg 61% 55%);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  color: #fff;
}
.active {
  border-right: 4px solid white;
  background: hsl(253deg 61% 55%);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-radius: 0px 10px 10px 0px;
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
}

.menu {
  display: flex;
  color: hsl(253deg 61% 85%);
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}
