.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  &-container {
    display: flex;
    height: 100%;
  }

  &-nav {
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-flex;
    max-width: 20rem;
    min-width: 20rem;
    flex-direction: column;
    height: 93vh;
    scrollbar-width: thin;
    transition: margin-left 0.3s;
    box-sizing: border-box;
  }

  &-main {
    margin-top: 120px;
    width: 100%;
    display: flex;
    overflow: auto;
    height: 93vh;
    background-color: #f7f7f7;
    margin-left: 25px;
  }
}

.menuHide {
  margin-left: -20rem;
}
